.widget_chat_sploit .chat {
	height: 10em;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

.widget_chat_sploit dl {
	background-color: white;
	color: black;
	margin: 0;
	padding: .5em;
	min-height: 100%;
}

.widget_chat_sploit dt, .widget_chat_sploit dd {
	margin: 0;
	padding: 0;
}

.widget_chat_sploit textarea, .widget_chat_sploit .chat {
	box-sizing: border-box;
	width: 100%;
}
